@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #16d9ef
}
body {
    background-color:#244855;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    Margin: 0;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px;
}
.card-img {
    border: 10px solid #16d9ef;
}
main section img {
    box-sizing: border-box;
}
h2 {
    margin: 0;
}
header {
    background-color:#244855;
}
nav a:hover {
    background-color: black;
    color: white;
}
.book, .join {
    background-color: rgb(255, 145, 0);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.book:hover, .join:hover {
    background-color: rgb(255, 145, 0);
    color:  #16d9ef;
}
.mountains {
    padding-top: 100px;
}
.msg {
    background-color: rgb(18, 18, 18);
    line-height: 1.5em;
    padding-bottom: 40px;
}
footer {
    background-color: #244855;
    color: white;
    margin-top: 200px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #16d9ef;
}
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
}    
.home-title {
    color: white;
    font-family: 'Rock Salt', 'Helvetica', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
   h4 {
    color: white;  
}
.msg h2 {
    color: white;
}
.msg p {
    color: white;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}